@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Poppins:wght@700&display=swap');

h2{
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1;
  align-items: center;
  text-align: center;

  color: #242424;
}


/* Navbar*/
.nav-item{
  font-weight: 500;
}
/*Button */
.button {
  background-color: #0047FC;
  border: none;
  border-radius: 70px;
  color: #ffffff;
  padding: 8px 30px;
  text-decoration: none;
  font-size: 20px;
  margin-top: 5px;
  margin-right: 5px;
}

#details{
  padding: 10% 0%;
}

/*  HeroSection */
#hero{
  padding: 10% 0%;
}
#login{
  padding: 8% 0;

}
h1{
  font-family: 'Arial';
  font-weight: 700;
  line-height: 1.2;
  font-size: 4rem;

  color: #FFFFFF;
}

.box{
  width: 100%;
height: 400px;
padding: 0%;

background: #CACACA;
border-radius: 25px;
}

/* Media Queries*/

@media (max-width: 1280px){
  h2{
    font-size: 2rem;
  }
  h1{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2%;
  }
  #hero p{
    text-align: center;
    margin-top: 2%;
  }
  #hero{
    padding: 15% 0%;
  }
  #explore{
    display: table;
    margin: 0 auto;
  }
}